<section class="site-section bg-light" id="pricing-section">
    <div class="container">
    <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade-up">
        <h2 class="section-title mb-3">Encomendas</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-6" data-aos="fade-up" data-aos-delay="">
        <div class="pricing">
            <h3 class="text-center text-black">Canvas</h3>
            <div class="price text-center mb-4 ">
            <span>A partir de <span>R$200</span></span>
            </div>
            <ul class="list-unstyled ul-check success mb-5">
            
            <li>Canvas PRO 395gsm</li>
            <li>Material a base de algodão, reproduz imagens em resolução muito alta 
            e fornece textura ao seu quadro.</li>
            </ul>
        </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="pricing">
            <h3 class="text-center text-black">Papel Canson</h3>
            <div class="price text-center mb-4 ">
            <span>A partir de <span>R$150</span></span>
            </div>
            <ul class="list-unstyled ul-check success mb-5">
            
            <li>Papel fosco tradicional para impressões em alta resolução. 100% celulose</li>
            <li>Possimus aut consequuntur incidunt</li>
            </ul>
        </div>
        </div>

        <table class="table text-center border-primary mt-5">
        <thead>
            <tr class="text-primary">
                <th class="border-right border-top-0" scope="col">Tamanho</th>
                <th class="border-top-0" scope="col">Canvas</th>
                <th class="border-top-0" scope="col">Papel Canson</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border-right">34cm x 50cm</td>
                <td>R$200,00</td>
                <td>R$150,00</td>
            </tr>
            <tr>
                <td class="border-right">47cm x 70cm</td>
                <td>R$350,00</td>
                <td>R$240,00</td>
            </tr>
            <tr>
                <td class="border-right">67cm x 100cm</td>
                <td>R$620,00</td>
                <td>R$430,00</td>
            </tr>
        </tbody>
        </table>
    </div>
    
    <div class="row site-section" id="faq-section">
        <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title">Frequently Ask Questions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
        
        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
        </div>
        
        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
        </div>

        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
        </div>
        
        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
        </div>
        </div>
        <div class="col-lg-6">

        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">Where are you from?</h3>
            <p>Voluptatum nobis obcaecati perferendis dolor totam unde dolores quod maxime corporis officia et. Distinctio assumenda minima maiores.</p>
        </div>
        
        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What is your opening time?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
        </div>

        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
        </div>
        
        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
        </div>
        </div>
    </div>
    </div>
</section>